* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #00afaf;
}

.todo-container {
  width: 350px;
  height: 55vh;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 10px;
}

.wave-header {
  min-height: 40vh;
  width: 100%;
}

svg {
  position: absolute;
  bottom: 0;
}
h1 {
  text-align: center;
  padding-top: 5%;
}

.low {
  display: flex;
  justify-content: center;
  padding-top: 7%;
}

input {
  padding: 3%;
  border-radius: 5px;
  border-style: none;
  background-color: #cdcdcd;
  opacity: 0.7;
  box-shadow: 2px 4px 2px #a2a2a2;
  outline: none;
}
.addBtn {
  padding: 3%;
  margin-left: 5%;
  background-color: #c73b3b;
  border-style: solid;
  border-color: #c73b3b;
  color: #fff;
  border-radius: 10px;
  box-shadow: 2px 4px 2px #cdcdcd;
}
.addBtn:hover {
  border-style: solid;
  border-color: #c73b3b;
  background-color: #fff;
  color: #c73b3b;
}
ul {
  list-style: none;
  margin-top: 0 10%;
  padding: 7%;
}

ul li {
  padding: 12px 8px 12px 40px;
  border-style: solid;
  background-color: rgba(1, 113, 113, 0.6);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  gap: 10px;
}

.checked {
  background-color: rgba(1, 113, 113, 0.4);
  color: #fff;
  text-decoration: line-through;
  border-style: solid;
}
.checked::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #fff;
  border-width: 0 3px 3px 0;
  top: 10px;
  left: 13px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close {
  color: #fff;
}
